.connect-container {
  width: 100%;
  padding: 0.5rem;
}

.connect-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;

  h1 {
    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
    text-transform: uppercase;
    font-family: "almarena";
    color: var(--font-black);

    margin: 0.25rem 0;
    padding: 0;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-2);
  gap: 1rem;
  width: 100%;
  margin-top: 4rem;

  @media (width < 990px) {
    flex-direction: column;
  }
}

.enquiry-address-grid {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  @media (width < 990px) {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}

.map-location {
  @media (width < 990px) {
    height: 50vh;
  }
}

.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1.25rem;
}

.contact-child {
  .country {
    h1 {
      font-weight: 500;
      color: var(--font-black);
      font-size: clamp(1.75rem, 1.6786rem + 0.3571vw, 2rem);
    }
  }

  .office-address {
    p {
      font-size: 0.95rem;
      font-weight: 400;
      color: gray;
    }
  }
}

.contact-detail {
  .current-time,
  .contact-mail,
  .contact-number {
    margin: 1rem 0;
  }

  .time-heading,
  .mail-heading,
  .number-heading {
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
  }

  .time,
  .mail,
  .number {
    color: var(--font-black);
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
