.connect-container {
  width: 100%;
  padding: 0.5rem;
  font-family: var(--font-3);
}

.connect-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;

  @media (width < 990px) {
    height: 30vh;
    justify-content: end;
    flex-direction: column;
    align-items: start;
  }

  h1 {
    font-size: clamp(3rem, 2.1429rem + 4.2857vw, 6rem);
    font-weight: 500;
    color: var(--font-black);
    overflow: hidden;
  }

  .via-whatsapp {
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;

    p {
      margin: 0;
      padding: 0;
      color: var(--font-white);
      font-family: var(--font-2);
      font-size: clamp(0.85rem, 0.8357rem + 0.0714vw, 0.9rem);
    }
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-2);
  gap: 1rem;
  width: 100%;
  margin-top: 4rem;

  @media (width < 990px) {
    flex-direction: column;
  }
}

.enquiry-address-grid {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  @media (width < 990px) {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}

.map-location {
  @media (width < 990px) {
    height: 50vh;
  }
}

.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1.25rem;
}

.contact-child {
  .country {
    h1 {
      font-weight: 500;
      color: var(--font-black);
      font-size: clamp(1.75rem, 1.6786rem + 0.3571vw, 2rem);
    }
  }

  .office-address {
    p {
      font-size: 0.95rem;
      font-weight: 400;
      color: gray;
    }
  }
}

.contact-detail {
  .current-time,
  .contact-mail,
  .contact-number {
    margin: 1rem 0;
  }

  .time-heading,
  .mail-heading,
  .number-heading {
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
  }

  .time,
  .mail,
  .number {
    color: var(--font-black);
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
