.hero-container {
  position: relative;
  height: 100svh;
  width: 100%;
  font-family: "almarena";
}

.hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-black);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  z-index: 99;

  .counter {
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: var(--font-white);

    h1 {
      font-size: 4rem;
      font-weight: 500;
    }
  }

  .overlay-heading-container {
    height: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
    overflow: hidden;
    .overlay-heading {
      display: flex;
      flex-direction: column;
      transform: translateY(32%);
      will-change: transform;
      p {
        color: var(--font-white);
        font-size: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
        line-height: 1;
        text-align: center;
      }
    }
  }

  .overlay-text-container {
    position: absolute;
    top: 8%;
    left: 4%;
    height: 2rem;
    overflow: hidden;

    .overlay-text {
      display: flex;
      flex-direction: column;
      transform: translateY(-6rem);
      will-change: transform;

      p {
        color: var(--font-white);
        height: 2rem;
        display: flex;
        align-items: center;
      }
    }
  }
}

.hero-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  padding: 1rem;
  font-family: var(--font-3);

  .hero-heading {
    @media (width < 640px) {
      display: none;
    }
  }
}

.hero-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width < 1028px) {
    flex-direction: column;
    padding: 2rem 0;
  }

  .image-wrapper {
    display: flex;
    gap: 0.25rem;
    align-items: end;
    height: 10vh;
    width: fit-content;
    border-radius: 0.5rem;

    .hero-image {
      opacity: 0;
      border-radius: inherit;
      cursor: pointer;

      &:nth-child(1) {
        height: 100%;
      }
      &:nth-child(2) {
        height: 120%;
      }
      &:nth-child(3) {
        height: 140%;
      }
      &:nth-child(4) {
        height: 140%;
      }
      &:nth-child(5) {
        height: 120%;
      }
      &:nth-child(6) {
        height: 100%;
      }
    }

    @media (width < 640px) {
      .hero-image:nth-child(n + 4) {
        display: none;
      }
    }
  }

  .left-hero,
  .right-hero {
    font-weight: 500;
    text-transform: uppercase;
  }
}
