.typography-container {
  position: relative;
  font-family: "almarena";
  height: 100vh;
  width: 100%;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.typography-child {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

.fonts-container {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.font-child {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  cursor: pointer;
  padding: 0 0.25rem;

  .font-wrapper {
    position: absolute;
    background-color: #000000;
    backdrop-filter: blur(0.25rem);
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.213, 0.748, 0.493, 0.881);
    overflow: hidden;

    .marquee-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: max-content;

      p {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        gap: 1rem;
        color: var(--font-white);
        font-style: normal;
        font-size: 2.5rem;
        font-family: var(--font-2);
      }

      img {
        height: 60px;
        max-height: 60px;
        width: 120px;
        max-width: 120px;
        display: block;
        border-radius: 2rem;
      }

      .wrapper-container {
        p {
          font-size: 2rem;
        }
      }
    }
  }

  &:nth-child(2) {
    .font-name {
      font-family: "almarena";
    }
    .font-wrapper {
      p {
        font-family: "almarena";
        font-weight: 300;
      }
    }
  }

  &:nth-child(3) {
    .font-name {
      font-family: var(--font-1);
    }

    .font-wrapper {
      p {
        font-family: var(--font-1);
        font-weight: 300;
      }
    }
  }

  &:nth-child(4) {
    .font-name {
      font-family: var(--font-3);
    }
    .font-wrapper {
      p {
        font-family: var(--font-3);
        font-weight: 300;
      }
    }
  }

  &:hover .font-wrapper p {
    opacity: 1;
  }

  h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: clamp(1.75rem, 0.8214rem + 4.6429vw, 5rem);
    font-weight: 300;
    text-transform: uppercase;
  }

  .satoshi,
  .font-name {
    font-family: var(--font-2);
  }

  p {
    font-family: var(--font-3);
    font-size: clamp(0.85rem, 0.7357rem + 0.5714vw, 1.25rem);
    font-weight: 300;
    font-style: italic;
    margin-left: 0.5rem;
  }
}

.closing-typography {
  height: 100%;
  width: 100%;

  .left-side-typo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;

    @media (width < 768px) {
      width: 100%;
    }

    p {
      font-family: var(--font-2);
    }
  }
}
