.typography-container {
  position: relative;
  font-family: "almarena";
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 1rem;

  .typography-heading {
    margin-top: 0.5rem;
    padding: 0;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 2.75rem);
    color: var(--font-black);
    text-align: center;
    font-family: var(--font-3);
  }
}

.design-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  height: calc(100% - 42px);
  width: 100%;
  padding: 1rem 0;

  @media (width < 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  display: flex;
  align-items: start;
  gap: 1rem;
  font-family: var(--font-3);
}

.sample-font {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(90deg, red, black, black);

  h1 {
    color: var(--font-white);
    font-size: 4rem;
  }
  p {
    color: var(--font-white);
  }
}

.design-container-child {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.sample-font-others {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;

  .general-sans,
  .satoshi-font {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0.75rem;
    height: fit-content;
    width: 50%;
    background-color: #9cb2da48;
    box-shadow: inset 0rem 0rem 2rem white;
    backdrop-filter: blur(1rem);
    border-radius: 0.75rem;

    p {
      color: var(--font-black);
    }

    h1 {
      color: black;
      font-size: clamp(2rem, 1.1429rem + 4.2857vw, 5rem);
      font-weight: 600;
    }

    .all-char {
      font-size: 0.85rem;
      color: var(--font-black);
    }
  }

  .general-sans {
    font-family: var(--font-1);
  }
  .satoshi-font {
    font-family: var(--font-2);
  }
}

.content {
  margin: 0.5rem 0;
  padding: 0.75rem;
  height: fit-content;
  width: 100%;
  border-radius: 0.75rem;

  p {
    color: rgb(87, 87, 87);
    line-height: 1.25;
  }
}

.color-container {
  display: flex;
  /* flex-direction: column; */
  padding: 0.25rem 0;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

.font-color-palatte {
  display: flex;
  gap: 0.25rem;
  height: 100%;
  width: 100%;

  .yellow,
  .whitesmoke,
  .mate-black,
  .lightgray {
    padding: 0.75rem;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    width: 50%;
    cursor: pointer;

    p {
      color: var(--font-black);
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .yellow {
    background-color: #000;
    p {
      color: white;
    }
  }

  .whitesmoke {
    background-color: whitesmoke;
  }

  .mate-black {
    background-color: #333;
    p {
      color: var(--font-white);
    }
  }

  .lightgray {
    background-color: lightgray;
    p {
      color: var(--font-black);
    }
  }
}
