.footer-container {
  height: 100vh;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  font-family: "almarena";
  font-family: var(--font-2);
}

.footer-section {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0.25rem);
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.footer-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 0.5rem;

  @media (width < 768px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}

.contact {
  color: var(--font-white);
  h1 {
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  p {
    font-size: clamp(0.9rem, 0.8714rem + 0.1429vw, 1rem);
    margin: 0.5rem 0;
    font-weight: 300;
  }
}

.footer-links {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.quick-nav,
.legals,
.stores,
.socials {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      font-weight: 500;
      color: var(--font-white);
      font-size: clamp(0.85rem, 0.8071rem + 0.2143vw, 1rem);
    }

    li a {
      text-decoration: none;
      color: gray;
      cursor: pointer;
      font-size: clamp(0.75rem, 0.7071rem + 0.2143vw, 0.9rem);
    }
  }
}

@media (width < 768px) {
  .stores {
    display: none;
  }
}

.copyrights {
  color: var(--font-white);
  font-size: clamp(0.9rem, 0.8714rem + 0.1429vw, 1rem);
}

.footer-video {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
