.footer-container {
  height: 100svh;
  width: 100%;
  padding: 1rem 0.5rem;
  font-family: var(--font-1);

  border-top: 1px solid lightgray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;

  @media (width < 640px) {
    flex-direction: column;
  }
}

.footer-content {
  h1 {
    font-size: clamp(3rem, 1.5714rem + 7.1429vw, 8rem);
    text-transform: uppercase;
    line-height: 0.95;
    font-weight: bolder;
  }
}

.socials {
  padding: 0 2rem;
  font-family: var(--font-2);
  p {
    font-size: 0.85rem;
    font-weight: 500;
  }

  ul {
    list-style: none;
    margin-top: 0.5rem;
    li {
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
      overflow: hidden;
      a {
        text-decoration: none;
        color: var(--font-black);
      }
    }
  }
}

.closing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (width < 640px) {
    gap: 0.25rem;
    flex-direction: column;
  }

  p {
    text-transform: uppercase;
    font-size: clamp(0.8rem, 0.7857rem + 0.0714vw, 0.85rem);
    color: var(--font-black);
    font-weight: 600;
  }
}
