header {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 10;
  mix-blend-mode: difference;

  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
  font-family: "almarena";

  .left-section {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--font-white);
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    gap: 0.25rem;

    li {
      will-change: transform;

      a {
        display: inline-block;
        text-decoration: none;
        color: var(--font-white);
        position: relative;
        overflow: hidden;
        text-shadow: 0px 1em 0px var(--font-white);
      }

      a.active {
        color: #6e6e6e;
        text-shadow: 0px 1em 0px #6e6e6e;
      }
    }
  }
}
