.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-3);
  height: 100vh;
  width: 100%;
  padding: 0 0.5rem;
}

.not-found-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  .error-message {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
    h1 {
      font-size: 8rem;
      margin: 0;
      padding: 0;
      color: #ffb700;
      text-shadow: 0rem 0rem 0.5rem #ff9900;
    }

    p {
      font-size: 1.1rem;
      font-weight: 500;

      color: var(--font-black);
    }
  }

  .home-link {
    margin: 2rem 0;
    text-decoration: none;
    color: var(--font-black);
    font-weight: 900;
    transition: all 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.336);

    background-image: linear-gradient(90deg, black, black);
    background-clip: text;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.35s ease-in-out;

    &:hover {
      background-size: 100% 100%;
    }
  }
}
