.section-heading {
  font-family: var(--font-2);
  font-weight: 500;
  margin: 1rem 0;
  li {
    position: relative;
    padding-left: 1rem;
    text-transform: uppercase;
  }

  li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    height: 10px;
    width: 10px;

    background-color: black;
    border-radius: 50%;

    transform: translateY(-50%);
  }
}
